/* 
    Created on : 18/08/2014, 18:21:09
    Author     : Davidson Alencar
*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*used rtl*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/*not used*/
/* 
    Created on : 18/08/2014, 18:22:41
    Author     : Davidson Alencar
*/
/* 
    Created on : 18/08/2014, 18:26:56
    Author     : Davidson Alencar
*/
html {
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
}
body {
  color: #686868;
  background: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}
*,
a:focus {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0;
}
ul {
  padding: 0;
}
ul.list-regular {
  padding-left: 20px;
}
ul.list-regular .list-regular {
  padding-left: 40px;
}
#content h1,
#content h2,
#content h3 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
#content h1.content-heading,
#content h2.content-heading,
#content h3.content-heading {
  font-size: 24px;
  text-transform: uppercase;
  padding: 15px 0;
}
#content h1 span,
#content h2 span,
#content h3 span {
  font-size: 60%;
  color: #ccc;
  font-weight: normal;
}
#content > h1,
#content > h2,
#content > h3,
#content > h1.content-heading,
#content > h2.content-heading,
#content > h3.content-heading {
  padding: 15px;
}
#content .col-table > .content-heading {
  padding: 15px;
}
#content .innerAll > h1,
#content .innerAll > h2,
#content .innerAll > h3,
#content .innerAll > h1.content-heading,
#content .innerAll > h2.content-heading,
#content .innerAll > h3.content-heading {
  padding: 0 0 15px;
}
h4,
h5,
h6 {
  margin-top: 0;
}
h4.separator,
h5.separator,
h6.separator {
  margin-bottom: 0;
}
a,
a:hover {
  color: #496cad;
}
.borderB {
  border-bottom: 1px solid #e5e5e5;
}
.scripts-async .container-fluid {
  visibility: hidden;
}
.innerLR {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.innerTB {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
.innerAll {
  padding: 15px;
  position: relative;
}
.innerL {
  padding-left: 15px;
  position: relative;
}
.innerR {
  padding-right: 15px;
  position: relative;
}
.innerT {
  padding-top: 15px;
  position: relative;
}
.innerB {
  padding-bottom: 15px;
  position: relative;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.center {
  text-align: center !important;
}
.margin-none {
  margin: 0 !important;
}
.margin-top-none {
  margin-top: 0 !important;
}
.margin-bottom-none {
  margin-bottom: 0 !important;
}
.margin-left-none {
  margin-left: 0 !important;
}
.margin-right-none {
  margin-right: 0 !important;
}
.padding-none {
  padding: 0 !important;
}
.padding-top-none {
  padding-top: 0 !important;
}
.padding-bottom-none {
  padding-bottom: 0 !important;
}
.padding-left-none {
  padding-left: 0 !important;
}
.padding-right-none {
  padding-right: 0 !important;
}
.padding-none-TB {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.padding-none-LR {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.border-none {
  border: none !important;
}
.border-top-none {
  border-top: none !important;
}
.border-bottom-none {
  border-bottom: none !important;
}
.border-left-none {
  border-left: none !important;
}
.border-right-none {
  border-right: none !important;
}
.box-shadow-none {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.bg-container {
  background: #eaeaea !important;
}
.bg-gray {
  background: #f9f9f9 !important;
}
.bg-gray-dark {
  background: #f2f2f2 !important;
}
.bg-none {
  background: none !important;
}
.bg-white {
  background: #fff !important;
}
.bg-success {
  background: #72af46 !important;
  color: #fff;
}
.bg-info {
  background: #466baf !important;
  color: #fff;
}
.bg-info-dark {
  background: #37558b !important;
}
.bg-inverse {
  background: #424242 !important;
  color: #fff;
}
.bg-inverse-faded {
  background: rgba(66, 66, 66, 0.5) !important;
}
.bg-primary {
  background: #496cad !important;
  color: #fff;
}
.bg-primary-light {
  background: #bcc9e3 !important;
}
.bg-primary-light *:not(.btn) {
  border-color: #829cca !important;
}
.bg-primary-light[class*="border-"],
.bg-primary-light.box-generic {
  border-color: #aabbdb !important;
}
.bg-primary-light .caret {
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top-color: transparent !important;
  border-right-color: #829cca !important;
}
.bg-warning {
  background: #ab7a4b;
}
.bg-lightred {
  background: #E15258;
}
.bg-mustard {
  background: #D4D172;
}
.bg-purple {
  background: #9D8AC7;
}
.bg-gray-hover:hover {
  background: #f7f7f7;
}
.relativeWrap {
  position: relative;
}
.display-block {
  display: block !important;
}
.display-block-inline {
  display: inline-block !important;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.text-white {
  color: #fff;
}
.text-info {
  color: #466baf;
}
.text-primary {
  color: #496cad !important;
}
.text-success {
  color: #72af46;
}
.text-regular {
  color: #444 !important;
}
.text-faded {
  color: #d7d7d7 !important;
}
.text-muted-dark {
  color: #a2a2a2;
}
.text-muted-darker {
  color: #898989;
}
.text-weight-regular {
  font-weight: normal !important;
}
.text-weight-normal {
  font-weight: 400;
}
.text-condensed {
  letter-spacing: -2px;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-small {
  font-size: 12px;
}
.text-larger {
  font-size: 14px;
}
.text-medium {
  font-size: 30px;
  line-height: 30px;
}
.text-large {
  font-size: 35px !important;
  line-height: 40px !important;
}
.text-xlarge {
  font-size: 50px;
  line-height: 50px;
}
.text-xxlarge {
  font-size: 70px;
  line-height: 70px;
}
.text-underline {
  text-decoration: underline;
}
.inline-block {
  display: inline-block !important;
}
.overflow-y-auto {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}
.applyNiceScroll {
  overflow-y: auto;
}
.overflow-hidden {
  position: relative;
  overflow: hidden;
}
.containerBg {
  background: #ffffff;
}
.whiteBg {
  background: #fff;
}
.hide2 {
  display: none;
}
.border-top {
  border-top: 1px solid #efefef;
}
.border-right {
  border-right: 1px solid #efefef;
}
.border-bottom {
  border-bottom: 1px solid #efefef !important;
}
.border-left {
  border-left: 1px solid #efefef;
}
.half.innerAll {
  padding: 7.5px !important;
}
.half.innerLR {
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
}
.half.innerTB {
  padding-top: 7.5px !important;
  padding-bottom: 7.5px !important;
}
.half.innerT {
  padding-top: 7.5px !important;
}
.half.innerB {
  padding-bottom: 7.5px !important;
}
.half.innerL {
  padding-left: 7.5px !important;
}
.half.innerR {
  padding-right: 7.5px !important;
}
.inner-2x.innerAll {
  padding: 30px !important;
}
.inner-2x.innerTB {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.inner-2x.innerLR {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.inner-2x.padding-bottom-none {
  padding-bottom: 0 !important;
}
.inner-2x.padding-right-none {
  padding-right: 0 !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-x {
  overflow-x: auto;
}
.unscrollable {
  overflow: hidden !important;
}
.fixed-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.height-auto {
  height: auto !important;
}
div.row,
ul.row {
  margin: 0 -7.5px;
}
.row-merge {
  margin: 0 !important;
}
div[class*="col-xs-"],
div[class*="col-sm-"],
div[class*="col-md-"],
div[class*="col-lg-"],
li[class*="col-xs-"],
li[class*="col-sm-"],
li[class*="col-md-"],
li[class*="col-lg-"] {
  padding: 0 7.5px;
}
.widget .row-merge {
  margin: 0;
}
.row-merge {
  position: relative;
}
.row-merge > [class*="col-"] {
  padding: 0;
}
.row-merge > [class*="col-"] ~ [class*="col-"] {
  position: static;
}
.row-merge > [class*="col-"] ~ [class*="col-"]:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #e5e5e5;
  content: "";
}
.row-merge.border-top,
.row-merge ~ .row-merge {
  border-top: 1px solid #e5e5e5;
}
.row-merge.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.row-merge .fill-column:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: inherit;
  background: #f4f4f4;
  content: "";
}
@media (min-width: 768px) and (max-width: 991px) {
  .row-merge > [class*="col-sm-12"] ~ [class*="col-sm-12"] {
    position: relative;
  }
  .row-merge > [class*="col-sm-12"] ~ [class*="col-sm-12"]:after {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    width: auto;
    height: 1px;
    background: #e5e5e5;
    content: "";
  }
}
.row-icons {
  padding: 10px 0;
  margin: 0;
}
.row-icons [class*="col"] {
  margin-bottom: 15px;
  padding: 0;
}
.row-icons [class*="col"] a {
  line-height: 24px;
  display: inline-block;
  color: #1d1d1b;
}
.row-icons [class*="col"][class*="glyphicons"] {
  padding-left: 50px;
}
.row-icons [class*="col"][class*="glyphicons"] i:before {
  left: 10px;
  top: 10px;
}
.row-icons [class*="col"] i.fa {
  vertical-align: middle;
  margin: 0 10px;
}
.row-icons [class*="col"] i,
.row-icons [class*="col"] i:before {
  color: #496cad;
  font-size: 24px;
}
.row-icons [class*="col"] span {
  padding-left: 5px;
}
.ui-tooltip {
  display: none !important;
}
.rounded-none {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.rounded-left {
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
.rounded-right {
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}
.notebook {
  min-height: 60px;
  line-height: 30px;
  background: -webkit-linear-gradient(bottom, #f0f0f0 0%, #ffffff 5%) 0 0;
  background: -moz-linear-gradient(bottom, #f0f0f0 0%, #ffffff 5%) 0 0;
  background: linear-gradient(bottom, #f0f0f0 0%, #ffffff 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
}
.notebook ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.notebook ul li {
  line-height: 30px;
}
.bg-success .notebook {
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #72af46 5%) 0 0;
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #72af46 5%) 0 0;
  background: linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #72af46 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  color: #fff;
}
.bg-inverse .notebook {
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #424242 5%) 0 0;
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #424242 5%) 0 0;
  background: linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #424242 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  color: #fff;
}
.bg-primary .notebook {
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #496cad 5%) 0 0;
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #496cad 5%) 0 0;
  background: linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, #496cad 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  color: #fff;
}
.bg-gray .notebook {
  background: -webkit-linear-gradient(bottom, #f0f0f0 0%, #f9f9f9 5%) 0 0;
  background: -moz-linear-gradient(bottom, #f0f0f0 0%, #f9f9f9 5%) 0 0;
  background: linear-gradient(bottom, #f0f0f0 0%, #f9f9f9 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
}
#content {
  margin-left: 274px;
  background: #f5f5f5;
  padding-bottom: 40px;
}
#content.full {
  margin-left: 0;
}
@media (max-width: 768px) {
  #content {
    margin-left: 0;
  }
}
#footer {
  position: fixed;
  z-index: 2;
  height: 40px;
  line-height: 40px;
  background: #f5f5f5;
  bottom: 0;
  left: 274px;
  right: 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.overflow-x {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
}
.text-success {
  color: #72af46;
}
.text-white {
  color: #fff !important;
}
.bg-default {
  background-color: #e7e7e7 !important;
}
.bg-gray {
  background: #f2f2f2 !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-inverse {
  background-color: #424242 !important;
}
.bg-info {
  background-color: #466baf !important;
}
.bg-success {
  background-color: #72af46 !important;
}
.bg-primary {
  background: #496cad !important;
  color: #fff;
}
.bg-primary-light {
  background: #e0e6f2 !important;
}
.bg-primary-light *:not(.btn) {
  border-color: #bcc9e3 !important;
}
.bg-primary-light[class*="border-"],
.bg-primary-light.box-generic {
  border-color: #bcc9e3 !important;
}
.bg-primary-light .caret {
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top-color: transparent !important;
  border-right-color: #829cca !important;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.border-left {
  border-left: 1px solid #e5e5e5;
}
.border-right {
  border-right: 1px solid #e5e5e5;
}
@media (min-width: 1199px) {
  .spacing-x2.innerAll,
  .spacing-x2 .innerAll,
  .spacing-x2 .widget.widget-tabs-vertical .widget-body .tab-content,
  .spacing-x2 .box-generic {
    padding: 25px;
  }
  .spacing-x2 .widget,
  .spacing-x2 .filter-bar {
    margin-bottom: 25px;
  }
  .spacing-x2 .widget .widget-body,
  .spacing-x2 .filter-bar .widget-body {
    padding: 25px;
  }
  .spacing-x2 .box-generic {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .spacing-x2.innerAll,
  .spacing-x2 .innerAll,
  .spacing-x2 .widget.widget-tabs-vertical .widget-body .tab-content,
  .spacing-x2 .box-generic {
    padding: 10px;
  }
  .spacing-x2 .widget,
  .spacing-x2 .filter-bar {
    margin-bottom: 10px;
  }
  .spacing-x2 .widget .widget-body,
  .spacing-x2 .filter-bar .widget-body {
    padding: 10px;
  }
  .spacing-x2 .box-generic {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hidden-tablet {
    display: none !important;
  }
}
.separator {
  padding: 15px 0;
}
.separator.bottom {
  padding: 0 0 15px;
}
.separator.top {
  padding: 15px 0 0;
}
.half.innerAll {
  padding: 10px !important;
}
.half.innerLR {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.half.innerTB {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.half.innerT {
  padding-top: 10px !important;
}
.half.innerB {
  padding-bottom: 10px !important;
}
.row-app {
  overflow: hidden;
}
.overflow-hidden {
  overflow: hidden !important;
}
.display-block {
  display: block;
}
.modal.modal-inline .modal-dialog .modal-content {
  border-width: 1px;
  border-color: #e5e5e5;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.label {
  display: inline-block;
}
.label.label-stroke {
  background: none;
  color: #999;
  border: 1px solid #999;
}
.label.label-primary {
  background: #496cad;
}
.label.label-primary.label-stroke {
  background: none;
  color: #496cad;
  border: 1px solid #496cad;
}
.label.label-info {
  background: #466baf;
}
.label.label-info.label-stroke {
  background: none;
  color: #466baf;
  border: 1px solid #466baf;
}
.label.label-warning {
  background: #ab7a4b;
}
.label.label-warning.label-stroke {
  background: none;
  color: #ab7a4b;
  border: 1px solid #ab7a4b;
}
.label.label-danger {
  background: #bd362f;
}
.label.label-danger.label-stroke {
  background: none;
  color: #bd362f;
  border: 1px solid #bd362f;
}
.label.label-inverse {
  background: #424242;
}
.label.label-inverse.label-stroke {
  background: none;
  color: #424242;
  border: 1px solid #424242;
}
.label.label-success {
  background: #72af46;
}
.label.label-success.label-stroke {
  background: none;
  color: #72af46;
  border: 1px solid #72af46;
}
.label.label-block {
  display: block;
}
.badge.badge-stroke {
  background: none;
  color: #999;
  border: 1px solid #999;
}
.badge.badge-primary {
  background: #496cad;
}
.badge.badge-primary.badge-stroke {
  background: none;
  color: #496cad;
  border: 1px solid #496cad;
}
.badge.badge-warning {
  background: #ab7a4b;
}
.badge.badge-warning.badge-stroke {
  background: none;
  color: #ab7a4b;
  border: 1px solid #ab7a4b;
}
.badge.badge-danger {
  background: #bd362f;
}
.badge.badge-danger.badge-stroke {
  background: none;
  color: #bd362f;
  border: 1px solid #bd362f;
}
.badge.badge-success {
  background: #72af46;
}
.badge.badge-success.badge-stroke {
  background: none;
  color: #72af46;
  border: 1px solid #72af46;
}
.badge.badge-inverse {
  background: #424242;
}
.badge.badge-inverse.badge-stroke {
  background: none;
  color: #424242;
  border: 1px solid #424242;
}
.badge.badge-info {
  background: #466baf;
}
.badge.badge-info.badge-stroke {
  background: none;
  color: #466baf;
  border: 1px solid #466baf;
}
.badge.badge-white {
  background: #fff;
  color: #797979;
  border: 1px solid #ccc;
}
.badge.badge-block {
  display: block;
}
body {
  padding-top: 50px;
}
.navbar.main {
  min-height: 50px;
  height: 50px;
  margin: 0;
}
.navbar.main .navbar-brand {
  padding: 0;
  margin: 0;
  z-index: 1;
  position: relative;
}
.navbar.main .navbar-brand .btn {
  height: 50px;
  line-height: 50px;
  padding: 0 13px;
  font-size: 13px;
}
.navbar.main .navbar-brand .btn i {
  font-size: 20px;
  vertical-align: middle;
}
.navbar.main .navbar-brand .colors {
  list-style: none;
  margin-top: 10px;
  margin-right: 10px;
  line-height: 50px;
}
@media (max-width: 767px) {
  .navbar.main .navbar-brand .colors {
    display: none;
  }
}
.navbar.main .navbar-brand .colors > li {
  padding: 5px 2px;
  float: left;
}
.navbar.main .navbar-brand .colors > li > a {
  display: block;
  width: 18px;
  height: 18px;
  background: #496cad;
  -webkit-box-shadow: 0 0 0 1px #324a77 inset;
  -moz-box-shadow: 0 0 0 1px #324a77 inset;
  box-shadow: 0 0 0 1px #324a77 inset;
}
.navbar.main .navbar-brand .colors > li.active > a {
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #fff inset;
  -moz-box-shadow: 0 0 0 1px #fff inset;
  box-shadow: 0 0 0 1px #fff inset;
}
.navbar.main .navbar-brand .colors > li.dropdown > a {
  background: none;
}
.navbar.main .navbar-brand .colors > li.dropdown > a .color {
  width: 9px;
  height: 9px;
  display: inline-block;
  float: left;
}
.navbar.main .navbar-brand .colors > li.dropdown > a .color.primary {
  background: #496cad;
}
.navbar.main .navbar-brand .colors > li.dropdown > a .color.info {
  background: #466baf;
}
.navbar.main .navbar-brand .colors > li.dropdown > a .color.inverse {
  background: #424242;
}
.navbar.main .navbar-brand .colors > li.dropdown > a .color.success {
  background: #72af46;
}
.navbar.main .navbar-brand .colors > li.dropdown > a .color.danger {
  background: #bd362f;
}
.navbar.main .navbar-brand .colors > li.dropdown .dropdown-menu {
  border-color: #dedede;
  margin: 1px 0 0;
  width: 273px;
  padding: 10px;
}
.navbar.main .navbar-brand .colors > li.dropdown .dropdown-menu li {
  width: 150px;
  float: left;
  border: none;
}
.navbar.main .navbar-brand .colors > li.dropdown .dropdown-menu li a {
  padding: 3px 3px 3px 5px;
  font-size: 13px;
}
.navbar.main .navbar-brand .colors > li.dropdown .dropdown-menu .color {
  display: inline-block;
  margin-right: 5px;
  margin-top: 3px;
  vertical-align: text-top;
  width: 10px;
  height: 10px;
}
.navbar.main .navbar-brand .colors > li.dropdown .dropdown-menu .color.primary {
  background: #496cad;
}
.navbar.main .appbrand {
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: #838383;
  font-weight: 700;
}
.navbar.main .toggle-button {
  height: 50px;
  padding: 0 13px;
}
.navbar.main .toggle-button > i {
  font-size: 22px;
  color: #e5e5e5;
  vertical-align: middle;
  line-height: 50px;
}
.navbar.main .toggle-button:hover i {
  color: #ccc;
}
.navbar.main .navbar-right {
  height: 50px;
}
.navbar.main .navbar-right:last-child {
  margin-right: 0;
}
.navbar.main .dropdown-menu {
  border-color: #e5e5e5;
}
.navbar.main .dropdown-menu li {
  border-bottom: 1px solid #e5e5e5;
}
.navbar.main .dropdown-menu li.headline {
  color: #ccc;
}
.navbar.main .dropdown-menu li:hover {
  background: #f7f7f7;
}
.navbar.main .dropdown-menu.list li a {
  color: #686868;
}
.navbar.main .dropdown-menu.list li a i {
  color: #efefef;
}
.navbar.main .dropdown-menu.list li a:hover {
  background: none;
}
.navbar.main .dropdown-menu.list li a:hover i {
  color: #686868;
}
.navbar.main .dropdown-menu.list li a.clean {
  padding: 3px;
}
.navbar.main .dropdown-menu.inbox {
  width: 300px;
}
.navbar.main .dropdown-menu.inbox input {
  background-color: #f7f7f7;
}
.navbar.main .dropdown-menu.inbox .media {
  padding: 10px;
}
.navbar.main .dropdown-menu.inbox .media .media-body a {
  padding: 0;
}
.navbar.main .dropdown-menu.inbox .media .media-body a i {
  font-size: 8px;
  padding-right: 3px;
  vertical-align: middle;
  color: #72af46;
}
.navbar.main .dropdown-menu.inbox .media .media-body a span {
  color: #ccc;
  font-size: 12px;
}
.navbar.main .dropdown-menu.inbox .media .media-body a span.time-email {
  padding-top: 3px;
}
.navbar.main .dropdown-menu.user-alerts li a i {
  color: #cecece;
}
.navbar.main .dropdown-menu.user-alerts li a:hover i {
  color: #686868;
}
.navbar.main .dropdown-menu.dropbox {
  width: 260px;
}
.navbar.main .dropdown-menu.dropbox .headline {
  color: #424242;
  background-color: #f7f7f7;
  font-size: 14px;
}
.navbar.main .dropdown-menu.dropbox .headline .col-md-6:first-of-type {
  border-right: 1px solid #e5e5e5;
}
.navbar.main .dropdown-menu.dropbox .headline a {
  color: #496cad;
  font-size: 13px;
}
.navbar.main .dropdown-menu.dropbox .headline a i {
  font-size: 13px;
  color: #ccc;
}
.navbar.main .dropdown-menu.dropbox .headline a:hover i {
  color: #424242;
}
.navbar.main .dropdown-menu.dropbox .info {
  padding: 3px 8px;
  font-size: 12px;
  line-height: 24px;
  color: #ccc;
}
.navbar.main .dropdown-menu.dropbox .media-body {
  height: 40px;
  margin-top: 10px;
}
.navbar.main .dropdown-menu.dropbox .media-body a {
  cursor: pointer;
}
.navbar.main .dropdown-menu.dropbox .media-body em {
  color: #ccc;
}
.navbar.main .dropdown-language {
  width: auto;
  min-width: 0;
}
.navbar.main .dropdown-language > li > a {
  padding: 0 13px;
}
.navbar.main .dropdown-language > li > a > i {
  height: 30px;
  width: 28px;
  margin-bottom: 5px;
}
.navbar.main .navbar-form {
  padding: 0;
  margin: 0px;
}
.navbar.main .navbar-form .input-group {
  width: 1px;
}
.navbar.main .navbar-form .dropdown {
  display: inline-block;
  height: 50px;
  padding: 10px;
  padding: 0 8px;
  line-height: 50px;
  font-weight: 600;
  font-size: 13px;
}
.navbar.main .navbar-form input {
  height: 50px;
  border: none;
  background: none;
  width: 300px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar.main .navbar-form input {
    width: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .navbar.main .navbar-form input {
    width: 170px;
  }
}
.navbar.main .navbar-form .btn-inverse {
  height: 50px;
  font-size: 20px;
  margin: 0;
}
.navbar.main .nav > li {
  margin: 0;
  height: 50px;
}
.navbar.main .nav > li > a {
  height: 50px;
  line-height: 50px;
  font-weight: 600;
  font-size: 13px;
  padding: 0 13px;
}
.navbar.main .nav > li > a .badge {
  float: right;
  top: 8px;
  position: relative;
  font-size: 11px;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  padding: 0;
}
.navbar.main .nav > li > a .badge-icon {
  font-size: 10px;
}
.navbar.main .nav > li > a .img-circle {
  padding: 2px;
}
.navbar.main .nav > li > a:hover .img-circle {
  padding: 0;
  border: 2px solid #fff;
}
.navbar.main .nav > li.lang {
  padding: 0 10px;
  line-height: 45px;
}
.navbar.main .nav > li.notification > a {
  padding: 0 5px;
}
.navbar.main .nav > li.notification > a > .badge {
  margin-left: -8px;
}
.navbar.main .nav > li.user > a {
  font-size: 14px !important;
}
.navbar.main .nav > li.user > ul {
  min-width: 0;
}
.navbar.main .nav > li.user > ul a {
  padding-left: 15px;
}
.navbar.main .nav > li.user > ul a i {
  margin-right: 5px;
}
.navbar.main .nav > li a.menu-icon {
  height: 50px;
  padding: 0 13px;
}
.navbar.main .nav > li a.menu-icon > i {
  font-size: 22px;
  vertical-align: middle;
  line-height: 50px;
}
.navbar.main .nav > li .list i {
  line-height: 24px !important;
}
.navbar.main .container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 767px) {
  .navbar.main {
    height: auto;
  }
  .navbar.main .navbar-nav {
    margin: 0;
  }
  .navbar.main .navbar-collapse {
    padding: 0;
  }
  .navbar.main .navbar-form input {
    width: 100%;
  }
  .navbar.main .navbar-form .input-group {
    width: auto;
  }
  .navbar.main .nav > li .dropdown-menu {
    float: none !important;
    width: 100% !important;
    padding-top: 50px !important;
  }
  .navbar.main .nav > li .dropdown-menu li {
    background-color: #fff !important;
  }
  .navbar.main .navbar-nav > .open,
  .navbar.main .navbar-nav > .open > a {
    background: none;
  }
  .navbar.main .dropdown .dropdown-toggle {
    float: right;
  }
}
@media (min-width: 768px) {
  .sidebar-mini .sidebar {
    width: 0;
    display: none;
  }
  .sidebar-mini #content {
    margin-left: 0;
  }
  .sidebar-mini #footer {
    left: 0;
  }
  .dropdown .dropdown-toggle.user .hidden-xs,
  .dropdown .dropdown-toggle.user .hidden-sm {
    display: inline !important;
  }
  .dropdown .dropdown-toggle.user .caret {
    top: 21px;
    right: 9px;
  }
  .navbar.main .navbar-brand {
    width: 274px;
  }
}
.navbar.main.navbar-default {
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}
.navbar.main.navbar-default .dropdown-toggle {
  color: #585858;
}
.navbar.main.navbar-default .dropdown-toggle:hover {
  color: #585858;
  text-decoration: none;
}
.navbar.main.navbar-default .navbar-form input {
  background-color: #ededed;
}
.navbar.main.navbar-default .nav > li {
  border-left: 1px solid #e5e5e5;
}
.navbar.main.navbar-default .nav > li > a {
  color: #585858;
}
.navbar.main.navbar-default .nav > li.lang {
  background-color: #e5e5e5;
}
.navbar.main.navbar-default .nav > li a.menu-icon > i {
  color: #e5e5e5;
}
.navbar.main.navbar-default .nav > li a.menu-icon:hover i {
  color: #fff;
}
.navbar.main.navbar-primary {
  border-bottom-color: #354f7e;
  background-color: #496cad;
}
.navbar.main.navbar-primary .app-brand {
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar.main.navbar-primary .app-brand img.logo {
  width: 66px;
}
.navbar.main.navbar-primary .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar.main.navbar-primary .dropdown-toggle {
  color: #e0e6f2 !important;
}
.navbar.main.navbar-primary .dropdown-toggle:hover {
  color: #ffffff;
  text-decoration: none;
}
.navbar.main.navbar-primary .dropdown-toggle:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar.main.navbar-primary a.menu-icon > i {
  color: #ffffff;
}
.navbar.main.navbar-primary .navbar-brand {
  border-right: 1px solid #354f7e;
}
@media (max-width: 767px) {
  .navbar.main.navbar-primary .navbar-brand {
    padding-right: 10px;
  }
}
.navbar.main.navbar-primary .navbar-brand .btn.text-regular {
  color: #e0e6f2 !important;
}
.navbar.main.navbar-primary .toggle-button > i {
  color: #7490c4;
}
.navbar.main.navbar-primary .toggle-button:hover i {
  color: #fff;
}
.navbar.main.navbar-primary .navbar-form input {
  background-color: #354f7e;
  color: #fff;
  box-shadow: none;
}
.navbar.main.navbar-primary .navbar-form ::-webkit-input-placeholder {
  color: #6988c0;
}
.navbar.main.navbar-primary .navbar-form :-moz-placeholder {
  color: #6988c0;
}
.navbar.main.navbar-primary .navbar-form ::-moz-placeholder {
  color: #6988c0;
}
.navbar.main.navbar-primary .navbar-form :-ms-input-placeholder {
  color: #6988c0;
}
.navbar.main.navbar-primary .navbar-form .btn {
  border: none;
  border-left: 1px solid #354f7e;
  color: #fff;
  border-right: 1px solid #496cad;
  background: #354f7e;
}
.navbar.main.navbar-primary .navbar-form .btn:hover {
  color: #f9fafc;
}
.navbar.main.navbar-primary .nav .open > a {
  background-color: #354f7e;
}
.navbar.main.navbar-primary .nav > li > a:focus {
  background: none;
}
.navbar.main.navbar-primary .nav > li {
  border-left-color: #354f7e;
}
.navbar.main.navbar-primary .nav > li > a:hover {
  background-color: #354f7e;
}
.navbar.main.navbar-primary .nav > li > a .badge.badge-primary {
  background-color: #fff;
  color: #496cad;
}
.navbar.main.navbar-primary .nav > li.lang {
  background-color: #354f7e;
}
.dropdown-menu {
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 13px;
  border-color: #e5e5e5;
}
.dropdown-menu > li {
  border-bottom: 1px solid #e5e5e5;
}
.dropdown-menu > li:last-of-type {
  border: none;
}
.dropdown-menu > li.headline {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
.dropdown-menu > li.headline:hover {
  background: none;
}
.dropdown-menu > li .divider {
  padding: 0;
  height: 1px;
  margin: 0;
}
.dropdown-menu > li.clean:hover {
  background: none;
}
.dropdown-menu > li > a {
  line-height: 25px;
}
.dropdown-menu > li.active > a,
.dropdown-menu > li.active:hover > a {
  background-color: #496cad;
}
.dropdown-menu.clean li:hover {
  background: none;
}
.sidebar {
  width: 274px;
  position: fixed;
  left: 0;
  top: 47px;
  bottom: 0;
  /* Light Menu */
  /* Dark Menu */
}
.sidebar .user-profile {
  position: relative;
}
.sidebar .user-profile > a {
  position: relative;
}
.sidebar .user-profile .media-body {
  padding: 5px 0 0;
}
.sidebar .user-profile .media-body p {
  font-size: 12px;
}
.sidebar .user-profile .badge {
  position: absolute;
  top: -2px;
  right: -2px;
  font-size: 10px;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  padding: 4px 6px;
}
.sidebar .user-profile ul {
  list-style: none;
  padding: 0;
  width: 24px;
  position: absolute;
  top: 9px;
  right: 9px;
}
.sidebar .user-profile ul li:last-of-type {
  border: none;
}
.sidebar .user-profile ul li a {
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  font-size: 12px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar > .sidebarMenuWrapper {
  overflow-y: scroll;
  position: absolute;
  top: 83px;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidebar > .sidebarMenuWrapper > ul li a {
  display: block;
  line-height: 40px;
  padding-left: 20px;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
}
.sidebar > .sidebarMenuWrapper > ul li a i {
  font-size: 1.3em;
  vertical-align: middle;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}
.sidebar > .sidebarMenuWrapper > ul li a > .badge {
  margin-top: 9px;
  margin-right: 11px;
}
.sidebar > .sidebarMenuWrapper > ul li a > .badge i {
  margin: 0;
  width: auto;
}
.sidebar > .sidebarMenuWrapper > ul li.active,
.sidebar > .sidebarMenuWrapper > ul li.open {
  position: relative;
}
.sidebar > .sidebarMenuWrapper > ul li:last-of-type {
  border: none;
}
.sidebar > .sidebarMenuWrapper ul li > a[data-toggle="collapse"] {
  position: relative;
}
.sidebar > .sidebarMenuWrapper ul li > a[data-toggle="collapse"]:after {
  display: inline-block;
  font-family: "picto-foundry-general";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f100";
  font-size: 12px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.sidebar > .sidebarMenuWrapper ul li.active.hasSubmenu {
  height: auto;
}
.sidebar > .sidebarMenuWrapper ul li.active.hasSubmenu > a[data-toggle="collapse"]:after {
  content: "\f16f";
  top: 21px;
}
.sidebar.sidebar-default {
  border-right: 1px solid #e5e5e5;
  background: #fff;
}
.sidebar.sidebar-default .user-profile {
  border-bottom: 1px solid #e5e5e5;
}
.sidebar.sidebar-default .user-profile .img-circle {
  border: 1px solid #b3b4b0;
}
.sidebar.sidebar-default .user-profile .badge {
  border: 1px solid #fff;
}
.sidebar.sidebar-default .user-profile ul {
  border: 1px solid #ededed;
}
.sidebar.sidebar-default .user-profile ul li {
  border-bottom: 1px solid #ededed;
}
.sidebar.sidebar-default .user-profile ul li a {
  color: #e5e5e5;
}
.sidebar.sidebar-default .user-profile ul li:hover a {
  background: #f5f5f5;
  color: #ccc;
}
.sidebar.sidebar-default .user-profile ul li.active,
.sidebar.sidebar-default .user-profile ul li.active:hover {
  border-color: #496cad;
}
.sidebar.sidebar-default .user-profile ul li.active a,
.sidebar.sidebar-default .user-profile ul li.active:hover a {
  color: #fff;
  background: #496cad;
}
.sidebar.sidebar-default ul li > a[data-toggle="collapse"]:after {
  color: #797979;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul ul {
  border-top: 1px solid #efefef;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li {
  border-bottom: 1px solid  #efefef;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li a {
  color: #000;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active,
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active:hover > a {
  background-color: #496cad;
  color: #fff;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active > a,
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.open > a {
  color: #fff !important;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active.hasSubmenu {
  background-color: #efefef;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active.hasSubmenu > li i {
  color: #797979 !important;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active.hasSubmenu .hasSubmenu.active ul li.active a {
  background-color: #496cad;
  color: #fff;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active.hasSubmenu .hasSubmenu.active ul li a {
  background-color: #e2e2e2;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active.hasSubmenu .hasSubmenu.active > a {
  background: #fff;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active.hasSubmenu .hasSubmenu.active > a i {
  color: #797979;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active.hasSubmenu ul li a {
  color: #5a5a5a;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active.hasSubmenu ul li a:hover {
  color: #797979;
  background: #fff;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li.active.hasSubmenu > a[data-toggle="collapse"] {
  background: #fff;
  color: #797979 !important;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li:hover > a {
  background: #efefef;
}
.sidebar.sidebar-default > .sidebarMenuWrapper > ul li:hover > a i {
  color: #797979;
}
.sidebar.sidebar-inverse {
  border-right: 1px solid #2c2c2c;
  background: #373737;
}
.sidebar.sidebar-inverse .user-profile {
  border-bottom: 1px solid #2c2c2c;
}
.sidebar.sidebar-inverse .user-profile .img-circle {
  border: 1px solid #2c2c2c;
}
.sidebar.sidebar-inverse .user-profile .badge {
  border: none;
}
.sidebar.sidebar-inverse .user-profile a {
  color: #e1e1e1;
}
.sidebar.sidebar-inverse .user-profile ul {
  border: 1px solid #2c2c2c;
}
.sidebar.sidebar-inverse .user-profile ul li {
  border-bottom: 1px solid #2c2c2c;
}
.sidebar.sidebar-inverse .user-profile ul li a {
  color: #5a5a5a;
}
.sidebar.sidebar-inverse .user-profile ul li:hover a {
  background: #2c2c2c;
  color: #ccc;
}
.sidebar.sidebar-inverse .user-profile ul li.active,
.sidebar.sidebar-inverse .user-profile ul li.active:hover {
  border-color: #496cad;
}
.sidebar.sidebar-inverse .user-profile ul li.active a,
.sidebar.sidebar-inverse .user-profile ul li.active:hover a {
  color: #fff;
  background: #496cad;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul ul {
  border-top: 1px solid #2c2c2c;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li {
  border-bottom: 1px solid  #2c2c2c;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li a {
  color: #ffffff;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.active,
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.active:hover > a {
  background-color: #496cad;
  color: #fff;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.active > a,
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.open > a {
  color: #fff !important;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.active > a > i,
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.open > a > i {
  color: #ffffff;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.active.hasSubmenu {
  background-color: #2c2c2c;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.active.hasSubmenu .hasSubmenu.active ul li.active a {
  background-color: #496cad;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.active.hasSubmenu .hasSubmenu.active ul li a {
  background-color: #272727;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.active.hasSubmenu .hasSubmenu.active > a {
  background: #373737;
  color: #fff;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.active.hasSubmenu ul li a {
  color: #5a5a5a;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.active.hasSubmenu ul li a:hover {
  color: #fff;
  background: #373737;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li.active.hasSubmenu > a[data-toggle="collapse"] {
  background: #373737;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li:hover > a {
  background: #2c2c2c;
}
.sidebar.sidebar-inverse > .sidebarMenuWrapper > ul li:hover > a i {
  color: #ffffff;
}
@media (max-width: 768px) {
  .sidebar {
    z-index: 9999;
  }
}
@media (min-width: 992px) {
  html.app .sidebar-mini .layout-app {
    left: 0px;
  }
}
.btn {
  text-shadow: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.btn.active,
.btn:active {
  outline: 0;
  background-color: #fff;
}
.btn:hover.text-primary {
  background-color: #496cad;
}
.btn:hover.text-primary .fa {
  color: #fff;
}
.btn-block {
  width: 100%;
  min-height: 30px;
}
.btn-group .btn + .btn:not(.btn-block) {
  margin-left: -1px;
}
.btn-default {
  background: #e7e7e7;
  border-color: #e7e7e7;
  color: #797979;
}
.btn-default.filled {
  background: #efefef;
}
.btn-default.filled i {
  color: #ccc;
}
.btn-group.open .btn-default.dropdown-toggle,
.btn-default.disabled,
.btn-default[disabled],
.btn-default:hover,
.btn-default:focus {
  background: #fafafa;
  border-color: #cecece;
}
.btn-default:active,
.btn-default.active {
  background: #e8e8e8;
  color: #797979;
  text-shadow: none;
}
.btn-default .caret {
  border-top-color: rgba(0, 0, 0, 0.5);
}
.btn-warning {
  background: #ab7a4b;
  border-color: #ab7a4b;
  color: #ffffff;
}
.btn-warning.btn-stroke {
  background: none;
  color: #ab7a4b;
}
.btn-group.open .btn-warning.dropdown-toggle,
.btn-warning.disabled,
.btn-warning[disabled],
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  background: none;
  color: #ab7a4b;
}
.btn-warning.btn-stroke:hover,
.btn-warning.btn-stroke:focus,
.btn-warning.btn-stroke:active,
.btn-warning.btn-stroke.active {
  background: #ab7a4b;
  color: #fff;
}
.btn-warning .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
  border-bottom-color: rgba(255, 255, 255, 0.7);
}
.btn-info {
  background: #466baf;
  border-color: #466baf;
  color: #ffffff;
}
.btn-info.btn-stroke {
  background: none;
  color: #466baf;
}
.btn-group.open .btn-info.dropdown-toggle,
.btn-info.disabled,
.btn-info[disabled],
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
  background: none;
  color: #466baf;
}
.btn-info.btn-stroke:hover,
.btn-info.btn-stroke:focus,
.btn-info.btn-stroke:active,
.btn-info.btn-stroke.active {
  background: #466baf;
  color: #fff;
}
.btn-info .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
  border-bottom-color: rgba(255, 255, 255, 0.7);
}
.btn-danger {
  background: #bd362f;
  border-color: #bd362f;
  color: #ffffff;
}
.btn-danger.btn-stroke {
  background: none;
  color: #bd362f;
}
.btn-group.open .btn-danger.dropdown-toggle,
.btn-danger.disabled,
.btn-danger[disabled],
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  background: none;
  color: #bd362f;
}
.btn-danger.btn-stroke:hover,
.btn-danger.btn-stroke:focus,
.btn-danger.btn-stroke:active,
.btn-danger.btn-stroke.active {
  background: #bd362f;
  color: #fff;
}
.btn-danger .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
  border-bottom-color: rgba(255, 255, 255, 0.7);
}
.btn-primary {
  background: #496cad;
  border-color: #496cad;
  color: #ffffff;
}
.btn-primary.btn-stroke {
  background: none;
  color: #496cad;
}
.btn-group.open .btn-primary.dropdown-toggle,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background: none;
  color: #496cad;
  border-color: #496cad;
}
.btn-primary.btn-stroke:hover,
.btn-primary.btn-stroke:focus,
.btn-primary.btn-stroke:active,
.btn-primary.btn-stroke.active {
  background: #496cad;
  color: #fff;
}
.btn-primary .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.btn-inverse {
  background: #424242;
  border-color: #424242;
  color: #ffffff;
}
.btn-inverse.btn-stroke {
  background: none;
  color: #424242;
}
.btn-group.open .btn-inverse.dropdown-toggle,
.btn-inverse.disabled,
.btn-inverse[disabled],
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active {
  background: none;
  color: #424242;
}
.btn-inverse.btn-stroke:hover,
.btn-inverse.btn-stroke:focus,
.btn-inverse.btn-stroke:active,
.btn-inverse.btn-stroke.active {
  background: #424242;
  color: #fff;
}
.btn-inverse .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.btn-success {
  background: #72af46;
  border-color: #72af46;
  color: #ffffff;
}
.btn-success.btn-stroke {
  background: none;
  color: #72af46;
}
.btn-group.open .btn-success.dropdown-toggle,
.btn-success.disabled,
.btn-success[disabled],
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  background: none;
  color: #72af46;
}
.btn-success.btn-stroke:hover,
.btn-success.btn-stroke:focus,
.btn-success.btn-stroke:active,
.btn-success.btn-stroke.active {
  background: #72af46;
  color: #fff;
}
.btn-success .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.btn-group .btn-primary:not(.dropdown-toggle),
.btn-group .btn-primary:not('[data-toggle*=""]') {
  margin-right: 2px;
}
.btn-group.dropup .btn {
  padding: 7px 12px;
}
.btn-group-vertical.block {
  display: block;
}
.btn-group.btn-group-block {
  display: block;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .btn-group.btn-group-block .btn.col-md-12 {
    margin: 0;
  }
  .btn-group.btn-group-block .btn.col-md-12:first-of-type {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
  }
  .btn-group.btn-group-block .btn.col-md-12:last-of-type {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
  }
}
.btn-icon-stacked {
  text-align: left;
  padding: 10px 10px 10px 45px;
  position: relative;
}
.btn-icon-stacked i {
  display: block;
  position: absolute;
  left: 15px;
  top: 12px;
}
.btn-icon-stacked span {
  display: block;
  font-size: 13px;
  line-height: normal;
}
.btn-circle {
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
.btn-circle.btn {
  padding-left: 0;
  padding-right: 0;
  width: 34px;
}
.glyphicons.standard,
.glyphicons-social.standard {
  width: 24px;
  height: 24px;
  padding: 0;
}
.glyphicons.standard i,
.glyphicons-social.standard i {
  display: block;
  height: 24px;
}
.glyphicons.standard i:before,
.glyphicons-social.standard i:before {
  color: #64625f;
  position: relative;
  top: auto;
  left: auto;
}
.glyphicons.standard:not(.disabled):hover i:before,
.glyphicons-social.standard:not(.disabled):hover i:before {
  color: #797979;
}
.glyphicons.standard.btn,
.glyphicons-social.standard.btn {
  padding: 4px;
}
.glyphicons.standard.btn.btn-small,
.glyphicons-social.standard.btn.btn-small {
  padding: 2px 5px;
  width: auto;
  height: auto;
}
.glyphicons.standard.btn.btn-small i:before,
.glyphicons-social.standard.btn.btn-small i:before {
  top: auto;
  line-height: 22px;
}
.glyphicons.btn-action,
.glyphicons-social.btn-action {
  width: 25px;
  height: 25px;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  vertical-align: middle;
}
.glyphicons.btn-action i:before,
.glyphicons-social.btn-action i:before {
  font-size: 14px;
  top: 5px;
  left: 5px;
  text-shadow: 0 1px 0 #fff;
  color: #fff;
}
.glyphicons.btn-action.btn-default i:before,
.glyphicons-social.btn-action.btn-default i:before {
  color: #7c7c7c;
}
.glyphicons.btn-action.single,
.glyphicons-social.btn-action.single {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
  /*background: none;*/
  margin-right: 10px;
}
.glyphicons.btn-icon,
.glyphicons-social.btn-icon {
  text-align: left;
  padding: 5px 7px 5px 40px;
}
.glyphicons.btn-icon i,
.glyphicons-social.btn-icon i {
  float: left;
}
.glyphicons.btn-icon i:before,
.glyphicons-social.btn-icon i:before {
  font-size: 15px;
  top: 0;
  left: 0;
  width: 33px;
  height: 23px;
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  vertical-align: middle;
  padding: 7px 0 0;
  text-align: center;
}
.glyphicons.btn-icon.right,
.glyphicons-social.btn-icon.right {
  text-align: left;
  padding: 5px 0 5px 7px;
}
.glyphicons.btn-icon.right i:before,
.glyphicons-social.btn-icon.right i:before {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  right: 0;
  left: auto;
  text-align: center;
}
.glyphicons.btn-large,
.glyphicons-social.btn-large {
  padding: 10px 10px 10px 40px;
  font-weight: 700;
}
.glyphicons.btn-large i:before,
.glyphicons-social.btn-large i:before {
  top: 12px;
  left: 12px;
  font-size: 17px;
}
.glyphicons.btn-large.btn-icon i:before,
.glyphicons-social.btn-large.btn-icon i:before {
  top: 0;
  left: 0;
  height: 28px;
  padding: 12px 0 0;
}
.glyphicons.btn-small,
.glyphicons-social.btn-small {
  padding: 2px 10px 2px 35px;
}
.glyphicons.btn-small i:before,
.glyphicons-social.btn-small i:before {
  padding: 5px 0 0;
  width: 28px;
  height: 19px;
  font-size: 14px;
}
.glyphicons.btn-mini,
.glyphicons-social.btn-mini {
  padding: 1px 6px 1px 33px;
}
.glyphicons.btn-mini i:before,
.glyphicons-social.btn-mini i:before {
  padding: 5px 0 0;
  width: 26px;
  height: 17px;
  font-size: 13px;
}
.glyphicons.orange i:before,
.glyphicons-social.orange i:before {
  color: #EDB459;
}
.glyphicons.btn-default i:before,
.glyphicons-social.btn-default i:before {
  color: #9e9e9e;
  text-shadow: none;
}
.glyphicons.single,
.glyphicons-social.single {
  color: #496cad;
  padding: 0 0 0 20px;
}
.glyphicons.single i:before,
.glyphicons-social.single i:before {
  font-size: 13px;
  top: 4px;
  color: #496cad;
}
.glyphicons.single + .single,
.glyphicons-social.single + .single {
  margin-left: 8px;
}
.glyphicons.single.regular,
.glyphicons-social.single.regular {
  color: #7c7c7c;
}
.glyphicons.single.regular i:before,
.glyphicons-social.single.regular i:before {
  color: #7c7c7c;
}
.glyphicons.primary i:before,
.glyphicons-social.primary i:before {
  color: #496cad;
}
.glyphicons.text-error,
.glyphicons-social.text-error {
  color: #496cad;
}
.glyphicons.text-error i:before,
.glyphicons-social.text-error i:before {
  color: #496cad;
}
.glyphicons.text-info,
.glyphicons-social.text-info {
  color: #5d92b3;
}
.glyphicons.text-info i:before,
.glyphicons-social.text-info i:before {
  color: #5d92b3;
}
.glyphicons.text-success,
.glyphicons-social.text-success {
  color: #719d46;
}
.glyphicons.text-success i:before,
.glyphicons-social.text-success i:before {
  color: #719d46;
}
.ui .btn {
  margin-bottom: 6px !important;
}
.tooltip .tooltip-inner {
  background-color: #496cad;
  color: #fff;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #496cad;
}
.tooltip.left {
  margin-left: -13px;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #496cad;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #496cad;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #496cad;
}
