//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-lightest:         lighten(@gray-base, 97.25%);

//@brand-primary:         lighten(#354F7E, 15%); // #337ab7
@brand-primary:         #354F7E; // #337ab7
@brand-inverse:         darken(@brand-primary,13%);


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global text inverse color on `<body>`.
@text-inverse-color:   #fff;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@line-height-large-computed:    floor((@font-size-large * @line-height-large)); // ~23px
@line-height-small-computed:    floor((@font-size-small * @line-height-small)); // ~23px

@font-size-small:               ceil((@font-size-base * 0.75)); // ~11px


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
@border-radius-base: 0;
@border-radius-large: @border-radius-base;
@border-radius-small: @border-radius-base;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.


//== Forms
//
//##
@input-border-left-focus:         @brand-primary;
@input-inverse-color-placeholder: lighten(@brand-primary,20%);



//== Dropdowns
//
//## Dropdown menu container and contents.


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.
@zindex-sidenav:            1000;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.


//== Grid system
//
//## Define your custom responsive grid.


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.


//== Main
//
//##
@main-bg:                                   @gray-lightest;
@main-page-header-bg:                       #fff;

//== SideNav
//
//##
@sidenav-width:                             240px;//269px;
@sidenav-collapsed-width:                   70px;
@sidenav-bg:                                #fff;
@sidenav-border-color:                      @gray-lighter;
@sidenav-margin-top:                        @navbar-height;
@sidenav-font-size-large:                   floor((@font-size-base * 1.6));

//== Navbar
//
//##
@navbar-padding-horizontal:                 0;

@navbar-margin-bottom:                      @line-height-large-computed;
@navbar-padding-vertical:                   ((@navbar-height - @line-height-large-computed) / 2)+0.5;

@navbar-brand-logo-width:                   80px;

// Primary navbar
// Reset inverted navbar basics
@navbar-primary-color:                      lighten(@gray-light, 15%);
@navbar-primary-bg:                         @brand-primary;
@navbar-primary-border:                     darken(@navbar-primary-bg, 10%);

// Inverted navbar links
@navbar-primary-link-color:                 #fff;
@navbar-primary-link-hover-color:           #fff;
@navbar-primary-link-hover-bg:              @brand-inverse;
@navbar-primary-link-active-color:          @navbar-primary-link-hover-color;
@navbar-primary-link-active-bg:             darken(@navbar-primary-bg, 10%);
@navbar-primary-link-disabled-color:        #444;
@navbar-primary-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-primary-brand-color:                @navbar-primary-link-color;
@navbar-primary-brand-hover-color:          #fff;
@navbar-primary-brand-hover-bg:             transparent;

// Inverted navbar toggle
@navbar-primary-toggle-hover-bg:            transparent;
@navbar-primary-toggle-icon-bar-bg:         #fff;
@navbar-primary-toggle-border-color:        transparent;

// Primary navbar header
@navbar-primary-header-max-width:           @sidenav-width;

//== Navs
//
//##


//== Pagination
//
//##


//== Pager
//
//##


//== Jumbotron
//
//##


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.


//== Tooltips
//
//##


//== Popovers
//
//##


//== Labels
//
//##


//== Modals
//
//##


//== Alerts
//
//## Define alert colors, border radius, and padding.


//== Progress bars
//
//##


//== List group
//
//##


//== Panels
//
//##
@panel-login-text:          #FFF;
@panel-login-border:        transparent;
@panel-login-heading-bg:    transparent;
@panel-login-width:         290px;


//== Thumbnails
//
//##


//== Wells
//
//##


//== Badges
//
//##


//== Breadcrumbs
//
//##


//== Carousel
//
//##


//== Close
//
//##


//== Code
//
//##


//== Type
//
//##
@page-header-bg:      #fff;
@main-bg:             @gray-lightest;
@footer-bg:           @gray-lightest;
@footer-border-color: @gray-lighter;
@footer-height:       30px;