html,
body {
    height: 100%;
    background: #354F7E;
    color: #ffffff;
    overflow: hidden;
}

.wrap {
    margin: 0 auto;
    position: absolute;
    width: 300px;
    height: 270px;
    left: 50%;
    top: 50%;
    margin-left: -150px; 
    margin-top: -140px; 
    z-index: 2;
    
    > .container {
        padding: 70px 15px 20px;
        width: 300px;
    }
}

.footer {
    height: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 0 transparent none;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
    
    .container p {
        margin-bottom: 0;
    }
}


.login-panel {
    .logo {
        width: 109px;
        margin-bottom: 25px;
    }
    .form-control {
        box-sizing: border-box;
        font-size: 16px;
        height: auto;
        padding: 10px;
        position: relative;
        border-radius: 0;
    }
    .form-group {
        margin-bottom: 0;
    }
    .checkbox {
        font-size: 12px;
        padding-left: 0px;
    }
    .checkbox input[type="checkbox"] {
        margin-top: 2px;
        margin-left: -18px;
    }
    .has-error,
    .has-success {
        .help-block,
        .control-label,
        .radio,
        .checkbox,
        .radio-inline,
        .checkbox-inline {
            color: #ffffff;
        }
        .form-control {
            border-color: #cccccc;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }
        .form-control:focus {
            border-color: #6d8bc2;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }
    }
    .form-control:focus {
        border-color: #6d8bc2;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    .btn {
        -webkit-transition: all 0.2s ease-out 0s;
                transition: all 0.2s ease-out 0s;
    }
    .btn-primary {
        background: none repeat scroll 0 0 #41619b;
        border: 1px solid #2e456e;
        color: #fff;
    }
    .btn-primary:hover {
        background: none repeat scroll 0 0 #5074b5;
    }
    .btn-lg {
        border-radius: 0;
    }
}


div.reflection {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    &.reflection1 {
        background: rgba(250, 250, 250, 0.015);
        box-shadow: 0 0 5px 1px rgba(250, 250, 250, 0.015);
        width: 50px;
        height: 50px;
    }
    &.reflection2 {
        background: rgba(250, 250, 250, 0.04);
        box-shadow: 0 0 5px 1px rgba(250, 250, 250, 0.04);
        width: 90px;
        height: 90px;
    }
    &.reflection3 {
        background: rgba(250, 250, 250, 0.02);
        box-shadow: 0 0 5px 1px rgba(250, 250, 250, 0.02);
        width: 200px;
        height: 200px;
    }
    &.reflection4 {
        background: rgba(250, 250, 250, 0.02);
        box-shadow: 0 0 5px 1px rgba(250, 250, 250, 0.02);
        width: 300px;
        height: 300px;
    }
}
