html,
body {
    height: 100%;
    background: #354F7E;
    color: #ffffff;
    overflow: hidden;
}

.wrap {
    margin: 0 auto;
    position: absolute;
    width: 300px;
    height: 270px;
    left: 50%;
    top: 50%;
    margin-left: -150px; 
    margin-top: -140px; 
    z-index: 2;
}

.wrap > .container {
    padding: 70px 15px 20px;
    width: 300px;
}

.footer {
    height: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 0 transparent none;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
}

.footer .container p {
    margin-bottom: 0;
}

.login-panel .logo {
    width: 109px;
    margin-bottom: 25px;
}

.login-panel .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
    border-radius: 0;
}

.login-panel .form-group {
    margin-bottom: 0;
}

.login-panel .checkbox {
    font-size: 12px;
    padding-left: 0px;
}
.login-panel .checkbox input[type="checkbox"] {
    margin-top: 2px;
    margin-left: -18px;
}

.login-panel .has-error .help-block,
.login-panel .has-error .control-label,
.login-panel .has-error .radio,
.login-panel .has-error .checkbox,
.login-panel .has-error .radio-inline,
.login-panel .has-error .checkbox-inline,
.login-panel .has-success .help-block,
.login-panel .has-success .control-label,
.login-panel .has-success .radio,
.login-panel .has-success .checkbox,
.login-panel .has-success .radio-inline,
.login-panel .has-success .checkbox-inline{
  color: #ffffff;
}

.login-panel .has-error .form-control,
.login-panel .has-success .form-control{
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.login-panel .has-error .form-control:focus,
.login-panel .has-success .form-control:focus,
.form-control:focus {
  border-color: #6d8bc2;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.login-panel .btn {
    -webkit-transition: all 0.2s ease-out 0s;
            transition: all 0.2s ease-out 0s;
}

.login-panel .btn-primary {
    background: none repeat scroll 0 0 #41619b;
    border: 1px solid #2e456e;
    color: #fff;
}

.login-panel .btn-primary:hover {
    background: none repeat scroll 0 0 #5074b5;
}

.login-panel .btn-lg {
    border-radius: 0;
}


 div.parallax {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
}
div#reflex1.parallax {
    background: rgba(250, 250, 250, 0.015);
    box-shadow: 0 0 5px 1px rgba(250, 250, 250, 0.015);
    width: 50px;
    height: 50px;
}
div#reflex2.parallax {
    background: rgba(250, 250, 250, 0.04);
    box-shadow: 0 0 5px 1px rgba(250, 250, 250, 0.04);
    width: 90px;
    height: 90px;
}
div#reflex3.parallax {
    background: rgba(250, 250, 250, 0.02);
    box-shadow: 0 0 5px 1px rgba(250, 250, 250, 0.02);
    width: 200px;
    height: 200px;
}
div#reflex4.parallax {
    background: rgba(250, 250, 250, 0.02);
    box-shadow: 0 0 5px 1px rgba(250, 250, 250, 0.02);
    width: 300px;
    height: 300px;
}